#nav-bar{
  top:0;
  position: fixed;

  }
@media(max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #video{
    width: 200px;
  }
.container{
  display: flex;
}
}
.container{
  display: flex;
}
